
<section class='queries-section'>
    <% @queries.each do |m| %>
        <div class='query-box'>
            <%= time_ago_in_words(m.created_at) %><br><br>
            <%= image_tag 'hashtag.png', class: 'hashtag-icon' %><p class='user-sum'> <%= m.hashtag %></p>
            <%= image_tag 'twitter.png', class: 'twitter-icon' %><p class='user-sum'> <%= m.format_results(m.tweet_sum) %></p>
            <%= image_tag 'retweets.png', class: 'hashtag-icon' %><p class='user-sum'> <%= m.format_results(m.retweet_sum) %></p>
            <%= image_tag 'open-eye.png', class: 'hashtag-icon' %><p class='user-sum'> <%= m.format_results(m.exposure_sum) %></p>
        </div>
    <% end %>
</section>