<div class="queries-section">

    <% @queries.each do |m| %>
        <div class='query-box'>
            <p class='time-ago'><%= m.created_at %> </p><br><br>
            <% if m.hashtag == nil %>
                 <p class='user-sum'><b>Hashtag: </b><span class='sum-value'><%= m.hashtag %></span></p>
            <% else %>
                <p class='user-sum'>Hashtag: <span class='sum-value'><%= m.hashtag %></span></p>
            <% end %>
            <p class='user-sum'><b>Tweet: </b><span class='sum-value'><%= m.format_results(m.tweet_sum) %></span></p>
            <p class='user-sum'><b>Retweets: </b><span class='sum-value'><%= m.format_results(m.retweet_sum) %></span></p>
            <p class='user-sum'><b>Exposure: </b><span class='sum-value'><%= m.format_results(m.exposure_sum) %></span></p>
        </div>
    <% end %>
    
</div>