<header>
  <h1 class='main-head'>#HashTaggedIt</h1>
  <% if current_user %>
    <div>
      <%= current_user.name %>
      <%= image_tag current_user.image %>
      <%= current_user.id %>
    </div>
  <% end %>
</header>

<main>
  
  <section>
    <p class='copy'>
      Perform a quick search to find out a hashtags current relavence.
    </p>
  </section>

  <section id='hashtag-search'>
    
    <div>
      <%= form_tag pages_apiquery_path, method: :get, remote: true do %>
        <%= text_field_tag :query, params[:query] %>
        <%= submit_tag 'Search', name: nil, class: 'submit' %>
      <% end %>
    </div>
    
  </section>
  
  <div id='realtime'></div>

  <div class='run'>
      <table id='main-results'>
        <thead>
  		      <tr>
  		      	 <th>Date</th>
  		         <th>Retweets</th>
  		         <th>Tweets</th>
  		         <th>Exposure</th>
  		      </tr>
  		   </thead>
      </table>
   </div>
</main>
